{
  "port": 3000,

  "rundeck": {
    "hostname": "",
    "username": "",
    "password": "",
    "database": "",
    "port": 3306
  },

  "screens": {
    "jarvis": "rundeck-live",
    "apollo": "jenkins-live"
  },

  "view": {
    "jenkins-live": [],
    "jenkins-project": []
  }
}